*HEADING*/
* {
  text-align: center;
  box-sizing: border-box;
}
h2 {
  border-top: 5px solid black;
  border-bottom: 5px solid black;
  display: flex;
  justify-content: center;
  margin-top: 70px;
  margin-bottom: 70px;

}

/*COLOR SECTION*/
.color-section ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.color-section p {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 125px;
  width: 200px;
  margin: 5px;
  padding: 40px;
}
#dark-purple {
  background-color: rgb(150, 0, 150);
}
#light-purple {
  background-color: rgb(230, 0, 230);
}
#grey {
  background-color: rgb(200, 200, 200);
}
#white {
  background-color: rgb(255, 255, 255);
  border: 1px dotted black;
  padding: 38px
}

/*FONTS SECTION*/
.font-section h3, .font-section p{
    display: flex;
    justify-content: center;
}

.font-section h3 {
  color: rgb(150, 0, 150);
  margin-top: 20px
}
.font-section p {
  color: rgb(150, 150, 150);
  margin-bottom: 30px;
}
.h {
  font-family: helvetica, sans-serif;
}
.g {
  font-family: georgia, serif;
}
.s {
  font-family: sans-serif;
}

/*TEXT SECTION*/
.text-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.text-section h3 {
    text-decoration: underline;
}

#main {
    font-size: 25px;
    font-weight: 700px;
    font-family: Helvetica, sans-serif;
}

#sub {
    font-size: 18px;
    font-weight: 550px;
    font-family: sans-serif;
}

#par {
    font-size: 10px;
    font-weight: 400px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

footer {
    margin-bottom: 50px;
}